

#contacto {
	text-align: center;
}

#contacto input, #contacto select, #contacto textarea {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 7px;
	display: block;
	margin: 10px;
	width: 100%;
	font-family: "Noto Sans", "FontAwesome", sans-serif;
}

#contacto textarea {
	height: 300px;
}

#contacto input:focus, #contacto select:focus, #contacto textarea:focus, #contacto input[type="submit"]:hover {
	box-shadow: 0px 0px 7px #CCC;
}

#contacto input[type="submit"] {
	width: auto;
	margin: auto auto;
	background-color: #999a46;
	color: #FFF;
	text-transform: uppercase;
	font-size: 18px;
	border-color: transparent;
}

#contacto input[type="submit"]:hover {
	background-color: #7F7D00;
	cursor: pointer;
}

#mapa-contacto p {
	padding: 10px;
	background-color: #4c4b00;
	color: #FFF;
	text-transform: uppercase;
	font-size: 22px;
	position: absolute;
	bottom: 0px;
	margin: 0px;
	width: 100%;
}

#mapa-contacto p {
	text-align: center;
	position: relative;
	top: -5px;
}

#datos-contacto ul {
	list-style: none;
}

#datos-contacto ul li {
	vertical-align: top;
	font-size: 16px;
	color:white;
}

#datos-contacto ul li i {
	font-size: 18px;
	margin-right: 10px; 
}