#registro input, #registro select, #registro textarea, #login input, #login textarea, #login select {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 7px;
	display: block;
	margin: 10px;
	width: 100%;
	font-family: "Noto Sans", "FontAwesome", sans-serif;
}

#login input:focus, #registro input:focus, #registro input[type="submit"]:hover, #login input[type="submit"]:hover {
	box-shadow: 0px 0px 7px #CCC;
}

#registro input[type="submit"], #login input[type="submit"] {
	width: auto;
	margin: auto auto;
	background-color: #999a46;
	color: #FFF;
	text-transform: uppercase;
	font-size: 18px;
	border-color: transparent;
}

#registro input[type="submit"]:hover, #login input[type="submit"]:hover {
	background-color: #7F7D00;
	cursor: pointer;
}

#registro {
	border-right: 2px solid #DDD;
}

#registro textarea {
	height: 200px;
}

#registro h1, #login h1 {
	text-align: center;
}

#registro input[type="submit"], #login input[type="submit"] {
	width: auto;
	margin: 15px auto 0px auto;
}

#registro input, #login input {
	margin: 10px 0px;
}

#registro div[class*="col-"], #login div[class*="col-"] {
	padding: 0px 10px;
}

@media only screen and (max-width: 1100px) {
	#registro {
		border-right: 0px;
	}
}